.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContainer{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  width: 85%;

}

.textContainer{
  z-index: 5;
  width: 70%;
}

.imgContainer{
  z-index: 2;
  width: 60%;
  margin-top: 215px;
}

.img {
  width: 100%;
}

.stackii {
  font-size: 2rem;
  margin: 0;
  color: #FE7624;
  font-weight: 600;
}

.title {
  margin: 0;
  line-height: 1.5;
  font-size: 4rem;
  width: 100%;
  text-align: left;
}

.title,
.description {
  text-align: left;
  color: #2E186A;
}

.description {
  line-height: 2;
  font-size: 1.40rem;
  width: 80%;
}

.btn {
  width: 80%;
  margin-top: 1.5%;
}

.btnCard {
  width: 40%;
  height: 55px;
  font-size: 1.25rem;
  margin-right: 10px;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  letter-spacing: 0.10rem;
}

.btnPrimary {
  background-color: #5D20D1;
  border: 1px solid #5D20D1;
  color: white;
}

.btnSecondary {
  border: 1px solid #5D20D1;
  color: #5D20D1;
}


.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active {
  color: white;
  border-color: white;
}


.btnSecondary:hover,
.btnSecondary:focus,
.btnSecondary:active {
  color: #FE7624;
  border-color: #FE7624;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 85%;
  margin-top: 7rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #5D20D1;
  border-radius: 5px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #FE7624;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: #2E186A;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #5D20D1;
}

@media (max-width: 500px) {

  .container {
    min-height: 100vh;
    padding: 0 1.75rem;
  }

  .homeContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
  }

  .imgContainer{
    display: none;
  }

  .textContainer{
    z-index: 5;
    width: 100%;
  }

  .stackii {
    font-size: 1.5rem;
  }

  .title {
    width: 100%;
    font-size: 3rem;
  }

  .description {
    width: 100%;
    font-size: 1.25rem;
  }

  .btn {
    width: 100%;
  }

  .btnCard {
    width: 40%;
    height: 50px;
    font-size: 17px;
  }

  .grid {
    margin-top: 5rem;
    max-width: 100%;
    flex-direction: column;
  }
}
