.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContainer{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  width: 85%;

}

.textContainer{
  z-index: 5;
  width: 70%;
}

.imgContainer{
  z-index: 2;
  width: 60%;
  margin-top: 215px;
}

.img {
  width: 100%;
}

.stackii {
  font-size: 2rem;
  margin: 0;
  color: #FE7624;
  font-weight: 600;
}

.title {
  margin: 0;
  line-height: 1.5;
  font-size: 4rem;
  width: 100%;
  text-align: left;
}

.title,
.description {
  text-align: left;
  color: #2E186A;
}

.description {
  line-height: 2;
  font-size: 1.40rem;
  width: 80%;
}

.btn {
  width: 80%;
  margin-top: 10%;
}

.btnCard {
  width: 40%;
  height: 55px;
  font-size: 1.25rem;
  font-weight: 800;
  margin-right: 10px;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  letter-spacing: 0.10rem;
}

.btnPrimary {
  background-color: #5D20D1;
  border: 1px solid #5D20D1;
  box-shadow: 0.5px 0.5px 15px 2px #A78BFA;
  color: white;
}

.btnSecondary {
  border: 1px solid #5D20D1;
  color: #5D20D1;
}


.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active {
  color: white;
  border-color: #FE7624;
  background-color: #FE7624;
  box-shadow: 0.5px 0.5px 15px 2px #fde08a;
}


.btnSecondary:hover,
.btnSecondary:focus,
.btnSecondary:active {
  color: #FE7624;
  border-color: #FE7624;
}

.categoriesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 6rem;
  width: 85%;
}

.categoriesTitle{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-left: 10px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
  
}

.card {
  width: 475px;
  height: 200px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: left;
  text-decoration: none;
  border-radius: 5px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: 0.5px 0.5px 15px 2px #F3F4F6;

}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
  color: #5D20D1;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #2E186A;
}

@media (max-width: 600px) {

  .container {
    height: 100%;
    width: fit-content;
    margin-left: 10px;
  }

  .homeContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 10px;
  
  }

  .imgContainer{
    display: none;
  }

  .textContainer{
    z-index: 4;
    width: 100%;
  }

  .stackii {
    font-size: 2rem;
  }

  .title {
    width: 100%;
    font-size: 4rem;
  }

  .description {
    width: 100%;
    font-size: 1.5rem;
  }

  .btn {
    width: 100%;
  }

  .btnCard {
    width: 45%;
    height: 60px;
    font-size: 20px;
  }

  .categoriesContainer {
    width: 100%;
    margin-right: 10px;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }
}
